[Unit]
Description=Firoz Shell
After=network.target

[Service]
Environment="FLUTTER_DRM_DEVICE=/dev/dri/card1"
ExecStart=/opt/Firoz/shell/firoz_shell -b ./ -r 270
Restart=always
User=root

[Install]
WantedBy=multi-user.target


# set default sink to 1 (hdmi)