[Unit]
Description=Firoz Test UI

[Service]
Environment="FLUTTER_DRM_DEVICE=/dev/dri/card1"
ExecStart=/opt/Firoz/test/test_ui -b ./ -r 90
Restart=always
# should be firoz but wpa-suplicant fucks
User=root

[Install]
WantedBy=multi-user.target


# set default sink to 1 (hdmi)